.hide{
    display: none !important;
  }


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #33b7e2, #5e62b0, #dc307c);
  margin: 0;
}

.alert{
  height: 100%;
  width: 80rem;
}

h2{
  display: flex;
  text-align: center;
}

.controls button{
  margin-top: 2rem;
  padding: 1rem 5rem 1rem 5rem;

}

#title{
  display: flex;
  font-size: 6rem;
}
#answer-buttons{
  display: flex;
  flex-flow: column wrap;
}

#answer-buttons button{
  display: flex;
  flex-flow: column wrap;
  font-size: 1.25rem; 
  margin: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}

#final-score-container{
  display: flex;
  flex-flow: column-reverse;
}

#final-score-container h3{
margin-bottom: 3rem;
}